---
import { basics } from "@cv";

const { summary } = basics;
---

<section class="mb-10 md:-mt-20">
    <h2 class="font-bold text-2xl mb-3">Sobre mi</h2>
    <p>{summary}</p>
</section>
<style></style>
