---
import { skills } from "@cv";
---

<section>
    <h2 class="font-bold text-2xl mb-2">Skills</h2>
    <ul>
        {
            skills.map(({ name }) => (
                <li class="rounded-full bg-neutral-700 text-white">
                    <span>{name}</span>
                </li>
            ))
        }
    </ul>
</section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        align-items: center;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    }
</style>
